<div class="call-script-box">
  <h3 class="header">Before You Call</h3>
  <p>This action will guide you through calling your representatives. You will likely either talk to an office staff member or be asked to leave a message. You might be asked your name and/or your zip code or address, so have those handy. Press star at the end of the call.</p>
  <h3 class="header">What to say</h3>
  <div class="call-script">
    <%= markdown @actionPage.message_rendered %>
  </div>
</div>
