<div class="tool mailing-list-tool">
  <div class="tool-container">
    <div class="tool-heading">
      <h2 class="tool-title">
        Join the mailing list
      </h2>
    </div>
    <div class="tool-body">
      <%= link_to t(:sign_up_eff_mailing_list), "https://join.eff.org/Subscription/", :target => "_blank" %>
    </div>
  </div>
</div>
