<h5 class="privacy-notice-header">
  <span class="customize-message-popover" data-toggle="tooltip" data-trigger="hover">?
    <span class="tooltiptext"><%= t :privacy_notice %></span>
 </span>
  How will EFF use this information?
</h5>
