<h3 class="privacy-notice-header">
  <span class="privacy-notice-popover" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="auto bottom" data-content="<%= t :privacy_notice %>">?</span>
  <em>How will EFF use this information?</em>
</h3>
