<h3 class="privacy-notice-header">
  <em>How will EFF use this information?</em>
  <span class="privacy-notice-popover" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="auto bottom" data-content="EFF uses the information you provide to defend digital rights, including improving our campaigns and sharing information about them, and to contact decisionmakers on your behalf. For details, see our privacy policy at eff.org/policy.">?</span>
</h3>
