<div class="thank-you" style="display: none;">
  <div class="alert alert-success">Thank you for the email</div>
</div>
<div class="email-tool-success-share" style="display: none;">
  <div class='vertical-share '>
    <b class='small'>Now help spread the word:</b>
    <a href='<%= twitter_share_url(@actionPage) -%>' class='twitter twitter-button'>
      <div class="sicon" id="stwit"></div>
      <div class="share-label">Share on Twitter</div>
    </a>
    <a href='<%= facebook_share_url(@actionPage) -%>' class='facebook facebook-button'>
      <div class="sicon" id="sfb"></div>
      <div class="share-label">Share on Facebook</div>
    </a>
    <a href='<%= google_share_url(@actionPage) -%>' class='google google-button'>
      <div class="sicon" id="sgplus"></div>
      <div class="share-label">Share on Google+</div>
    </a>

  </div>
  <p class='small donate'>
    Have you <a href='https://supporters.eff.org/donate'>donated to EFF</a> lately?
    <% if !current_user %>
    <br />
    <strong><a href="/register">Sign up</a> for an EFF Action account and save your information for next time.</strong>
    <% end %>
  </p>
</div>
