<div class='vertical-share '>
  <b class='small'>Now help spread the word:</b>
  <a href='<%= twitter_share_url(@actionPage) -%>' class='twitter twitter-button'>
    <div class="sicon" id="stwit"></div>
    <div class="share-label">Share on Twitter</div>
  </a>
  <a href="<%= facebook_share_url(@actionPage) -%>" class="facebook facebook-button">
    <div class="sicon" id="sfb"></div>
    <div class="share-label">Share on Facebook</div>
  </a>

</div>
<p class="small donate">
  Have you <a href="https://supporters.eff.org/donate" target="blank">donated to EFF</a> lately?
  <% if !current_user %>
  <br />
  <strong><a href="/register">Sign up</a> for an EFF Action account and save your information for next time.</strong>
  <% end %>
</p>
