<div class='recaptcha-div'>
  <label for="captcha">Captcha</label>
  <div class='recaptcha-wrapper'>
    <img class='recaptcha-image congressForms-captcha' src="<%= captcha_url %>" />
    <input type='hidden' id='answer_serialized' data-captcha-legislator-id="<%= legislator_id %>" data-captcha-uid="<%= captcha_uid %>" />
    <div class='recaptcha-overlay'>
      <div data-recaptcha-option='1' class='recaptcha-1 recaptcha-option'></div>
      <div data-recaptcha-option='2' class='recaptcha-2 recaptcha-option'></div>
      <div data-recaptcha-option='3' class='recaptcha-3 recaptcha-option'></div>
      <div data-recaptcha-option='4' class='recaptcha-4 recaptcha-option'></div>
      <div data-recaptcha-option='5' class='recaptcha-5 recaptcha-option'></div>
      <div data-recaptcha-option='6' class='recaptcha-6 recaptcha-option'></div>
      <div data-recaptcha-option='7' class='recaptcha-7 recaptcha-option'></div>
      <div data-recaptcha-option='8' class='recaptcha-8 recaptcha-option'></div>
      <div data-recaptcha-option='9' class='recaptcha-9 recaptcha-option'></div>
      <div class='recaptcha-submit'></div>
    </div>
  </div>
</div>
