<ul id="nav">
  <li>
    <%= nav_link_to "Action Pages", admin_action_pages_path %>
  </li>

  <li>
    <%= nav_link_to "Create new action", new_admin_action_page_path %>
  </li>

  <li>
    <%= nav_link_to "Homepage", homepage_admin_action_pages_path %>
  </li>

  <li>
    <%= nav_link_to "Analytics", admin_events_path %>
  </li>
</ul>
