<ul id="nav">
  <li>
    <%= link_to "Action Pages", admin_action_pages_path, class: "active" %>
  </li>

  <li>
    <%= link_to "Create new action", new_admin_action_page_path %>
  </li>

  <li>
    <%= link_to "Homepage", homepage_admin_action_pages_path %>
  </li>
</ul>
