<div id="analytics_date_control_container">
  Analytics for
  <input type="text" class="form-control text-inline" id="date_range" name="date_range_text"
         value="<%= "#{date_string(@start_date)} - #{date_string(@end_date)}" %>" />
</div>
