<div id="date_control_container">
  Analytics for
  <input type="text" class="form-control text-inline" id="date_range" name="date_range"
         value="<%= "#{default_events_start} - #{default_events_end}" %>" />
</div>
