<div id='date_control_container'>
  Analytics for
  <input type='text' class='form-control text-inline' value='<%= @date_start.strftime(@date_format) %> - <%= @date_end.strftime(@date_format) %>' id='date_range' name='date_range' />
  <button class='btn btn-info submit-inline' id='date_submit'>Submit</button>
</div>
