<div id="date_control_container">
  Analytics for
  <input type="text" class="form-control text-inline" id="date_range" name="date_range"
         value="<%= "#{start_date_string} - #{end_date_string}" %>" />
</div>
