<h2>Images</h2>

<div class="form-item">
  The image you select will appear as the action’s thumbnail image, banner image, and social
  media image. Pick from the EFF banner gallery or upload your own image below.

  <%= render "gallery", f: f, field: :featured_image %>
</div>

