<h2>Thank you</h2>

<div class="form-item epiceditor">
  <%= f.label :email_text, "Email Text" %>
  <%= f.text_area :email_text %>
</div>

<aside>
  <h3>How it works</h3>
  <p>This email is only sent when a user takes an Email or Petition action, or if we have the user's email saved in their account.</p>
  <p>Special strings shown below are automatically replaced with generated content.</p>
  <p>Every action should have its own custom donate page, which should replace the general one linked to above.</p>
  <p>If you have not made one, please do so: <a href="https://donations.d5.eff.org/admin/" target=_blank" >https://donations.d5.eff.org/admin/</a></p>

  <h3>Auto-inserted text</h3>
  <p><strong>$SHAREBUTTONS</strong> is replaced with Facebook/Twitter/Google Plus/Email share buttons.</p>
  <p><strong>$TITLE</strong> is replaced with title of the action.</p>
  <p><strong>$URL</strong> is replaced with the URL of the page they took action on.</p>
  <p><strong>$NAME</strong> is resplaced the user's first name if available, or "Friend of Digital Freedom".</p>
</aside>
