<div class="gallery">
  <div class="images">
    <input type="search" placeholder="Search" />

    <ul class="source-files-collection">
      <%= render @source_files, locals: { enable_delete: false } unless @source_files.empty? %>
    </ul>
  </div>
</div>
