<table class="table striped">
  <thead>
    <tr>
      <th>Type</th>
      <th>Name</th>
      <th>Date</th>
      <th>Views</th>
      <th>Actions Taken</th>
      <th>%</th>
      <th>Status</th>
      <th><!-- actions --></th>
    </tr>
  </thead>

  <tbody>
    <% @actionPages.each do |action_page| -%>
      <tr>
        <td><%= action_page.action_type %></td>
        <td><strong><%= link_to action_page.title, edit_admin_action_page_path(action_page) %></strong></td>
        <td class="nowrap"><%= action_page.created_at.strftime("%m-%d-%Y") %></td>
        <td></td>
        <td></td>
        <td></td>
        <td><%= action_page.status.humanize %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>
