<!--
<%=# s3_cors_fileupload_form_tag :id => "fileupload", "data-amazon_bucket" => ENV["amazon_bucket"], "data-amazon_region" => ENV["amazon_region"] %>

<div class="javascript-templates">
  <%=# render "template_upload" %>
  <%=# render "template_download" %>
  <%=# render "template_uploaded" %>
</div>
-->
