<div class="tab-pane" id="analytics">
  <div class="clearfix">
    <div class="pull-right">
      <%= render 'admin/action_pages/date_range_form' -%>
    </div>
  </div>
  <br>
  <hr />
  <div class="row">
    <div class="col-sm-12 col-lg-12 col-md-12">

      <% Ahoy::Event.action_types.each do |type| %>
        <h3><%= t(type, scope: :ahoy) %></h3>
        <%= line_chart(admin_events_path(@actionPage, type: type),
                       height: "200px", discrete: true) %>
      <% end %>

      <h3>Users</h3>
      <%= line_chart(admin_users_path(@actionPage), height: "200px", discrete: true) %>

      <div class="clearfix"> </div>
    </div>
  </div>
</div>
