<h2>Analytics</h2>

<div id="filters">
  <%= render 'admin/action_pages/date_range_form' -%>
</div>

<% Ahoy::Event.action_types.each do |type| %>
  <h3><%= t(type, scope: :ahoy) %></h3>
  <%= line_chart(admin_events_path(type: type), height: "200px", discrete: true) %>
<% end %>

<h3>Users</h3>
<%= line_chart(admin_users_path, height: "200px", discrete: true) %>
