<div class="container">
  <h3>Action page analytics for: <i><%= @actionPage.title %></i></h3>
  <% if @data.empty? %>
    <div>There's not data to display yet.</div>
  <% else %>
    <table class="table table-striped" >
      <thead>
        <tr>
          <th>Date</th>
          <% @columns.each do |c| %>
            <th><%= c.to_s.humanize %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @data.each do |date, counts| %>
          <tr>
            <td><%= date.to_datetime.strftime("%B %-d, %Y") %></td>
            <% @columns.each do |c| %>
              <td><%= counts[c] || 0 %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
