<%= render 'admin/header' -%>
<div class='container-fluid'>
  <div class="tabs-left">
    <%= render 'admin/nav_tabs' -%>
    <!-- Tab panes -->
    <div class="tab-content responsive">
      <div class="tab-pane active" id="partners">
        
        <div class="col-md-6 col-md-offset-3">
          <%= link_to  admin_partners_path(anchor: 'partners'), class: 'btn btn-sm btn-primary back-button' do %>
            <i class="icon ion-ios-arrow-back"></i> Back to partners</i>
          <% end -%>
          
          <div class='panel panel-default'>
            <div class="panel-heading">
              <div class="panel-title">Add a new partner</div>
            </div>
            <div class="panel-body">
              <%= render 'form' %>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>