<ul id="nav">
  <li>
    <%= nav_link_to "All targets", admin_institutions_path %>
  </li>
  <li>
    <%= nav_link_to "Add a new target", new_admin_institution_path %>
  </li>
  <li>
    <%= nav_link_to "Upload new targets", upload_admin_institutions_path %>
  </li>
</ul>
