<div class="container">
  <h3>Congressional breakdown of messages sent for campaign:<br><i><%= @congress_message_campaign.campaign_tag %></i></h3>
  <table class="table table-striped" id="congress_message_tabulation_by_congress" data-fills_url="<%= @congress_message_campaign.member_fills_url %>">
    <thead>
      <tr>
        <th>Member</th>
        <th>Messages</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
