<div class="container">
  <h3>Emails sent for campaign: <i><%= @congress_message_campaign.campaign_tag %></i></h3>
  <table class="table table-striped" id="email_tabulation_by_date"
         data-fills_url="<%= congress_forms_date_fills_url(@congress_message_campaign.campaign_tag) %>">
    <thead>
      <tr>
        <th>Date</th>
        <th>Emails</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
