<div class="set_form_background"></div>
<div class="set_form_wrapper panel-default">
  <div class="panel-heading">
    Edit <span class="label label-info"><%= category_name %></span> tier <%= tier %>
    <button type="button" class="close pull-right"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>   
  </div>
  <table class="table table-striped" cellpadding=0 cellspacing=0>
    <tbody>
    </tbody>
  </table>
  <form class='term-form form-inline'>
    <div class='form-group'>
      <input class='term form-control' placeholder='Topic Term' name="topic[name]">
    </div>
    <div class='form-group'>
      <button class='btn btn-sm btn-success pull-right add_term'>Add</button>
    </div>
  </form>
</div>
