<td><%= name %></td>
<td>
  <div class="btn-group">
    <span class="btn btn-default btn-sm delete-btn <%= id ? "" : "disabled" %>" data-confirm="Are you sure?! There is no undo."><i class="icon-trash"></i> Delete</span>
  </div>
</td>
