<div class="panel panel-default">
  <div class="panel-body intro">
    Topics are used to pre-fill reasonable defaults for the e-mail tool.  You can assign a topic category to e-mail actions to make it quicker and easier for end users to e-mail their reps.  Dragging a row up or down changes the priority or 'tier' for the topics.
  </div>
</div>
<div class='no-rows'>No topics found.</div>
<div class="text-right">
  <span class="btn btn-success create-category-btn"><i class="icon-doc-new"></i> Create new topic category</span>
</div>
