<td><span class='badge'><%= tier %></span></td>
<td>
  <% _.each(topics, function(topic){ %>
    <span class='label label-primary'><%= topic %></span>
  <% }); %>
</td>
<td>
  <div class="btn-group pull-right">
    <span class="btn btn-default btn-sm edit-btn <%= id ? "" : "disabled" %>"><i class="icon-pencil"></i> Edit</span>
    <span class="btn btn-default btn-sm delete-btn <%= id ? "" : "disabled" %>" data-confirm="Are you sure you want to delete this entire tier?"><i class="icon-trash"></i> Delete</span>
  </div>
</td>
