<% content_for(:nav) { render "admin/nav" } %>

<p>Congress topics are used to pre-fill reasonable defaults for the e-mail tool.  You can assign a topic category to e-mail actions to make it quicker and easier for end users to e-mail their reps.  Dragging a row up or down changes the priority or "tier" for the topics.</p>

<%= react_component("TopicCategoryTables", topicCategories: TopicCategory.order(id: :desc).map{ |x| topic_category_props(x) }) %>
