
// File upload CSS

.fileupload-buttonbar > div > .cancel,
.fileupload-buttonbar > div > .delete,
.fileupload-buttonbar > div > .toggle {
  display: none;
}

.fileupload-buttonbar {
  margin-bottom: 20px;
}

.select-gallery-image {
  display: none;
}
#image-gallery h4.modal-title {
  font-size: 40px;
  line-height: 1;
  margin-top: 5px;
}
.fileinput-button {
  position: relative;
  span {
    font-size: 20px;
    font-weight: normal;
  }
}
#image-gallery.attach {
  .select-gallery-image {
    display: inline;
  }
  .template-uploaded {
    .delete, input {
      display: none;
    }
  }
}
#upload_files {
  td {
    vertical-align: middle;
  }
  .preview img {
    width: 150px !important;
  }
  textarea {
    max-width: 400px;
    width: 100%;
    font-size: 10px;
  }
  .progress {
    max-width: 400px;
    margin-bottom: 0;
  }
  .preview {
    padding-left: 0;
  }
}
input[type="file"]#file {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  direction: ltr;
  cursor: pointer;
  width: 100%;
  height: 50px;
}
