/**********************
Actions tab
*************+*********/

table.table-simple.table-spaced td {
  padding: 13px 9px;
}
table.table-simple.table-spaced tr:hover {
  background-color: #F7F7F7;
}
td.action-icons {
  width: 42px;
  i.icon {
    display: block;
    position: relative;
    top: 1px;
  }
}
#action-pages td.action-titles {
  word-wrap: break-word; 
  max-width: 520px;
  @media (max-width: $screen-xs-max) {
    display:block;
    border-bottom: 0;
  }
}
#action-pages td.action-links {
  @media (max-width: $screen-xs-max) {
    display: block;
    text-align: left;
    padding-top: 0;
  }
}
#action-pages .btn-group {
  @media (min-width: $screen-md-min) {
    min-width: 343px;
  }
  @media (max-width: $screen-sm-max) {
    min-width: 190px;
  }
}
#action-pages td.action-icons {
  @media (max-width: $screen-xs-max) {
    display: none;
  }
}
#action-pages .btn-group   .btn.btn-sm {
  text-align: center;
  padding: 6px 14px 7px 17px;
  border-color: #ddd;
  font-size: 13px;

  @media (max-width: $screen-sm-max) {
    padding: 4px 5px 4px 5px;
  }

  &:hover {
    background-color: #fff;
    i {
      color: $red;
    }
  }
}
#action-pages .btn-group i {
  position: relative;
  font-size: 19px;
  left: -4px;
  top: 1px;
  padding-right: 1px;
  @include transition( color 0.5s ease );

  @media (max-width: $screen-sm-max) {
    display: none;
  }
}

.tabs-left .create-new {
  float: none !important;
}


/**********************
Homepage tab
*************+*********/
.select-featured {
  margin-bottom:50px;
  select {
    max-width: 100%;
  }
}

/**********************
Partners tab
*************+*********/
#partners {
  h2 {
    margin-top: 0;
  }
  .back-button {
    margin-bottom: 10px;
  }
  label {
    font-weight: 100;
  }
}
