
.topics-index .intro {
  padding: 15px 20px;
}

*[data-react-class=TopicCategoryTables] {
  .panel-title {
    input {
      margin-left: -4px;
      margin-top: -4px;
      margin-bottom: -4px;
      padding-left: 4px;
    }
  }

  .create-category-btn {
    margin: 10px;
  }

  table {
    position: relative;
  }

  .topic_set {
    td:first-child {
      width: 105px;
    }

    .btn-group, .input-group {
      margin-bottom: 4px;
    }

    .btn-group {
      float: left;
      margin-left: 6px;
      .label:hover {
        color: white;
      }
    }

    .input-group {
      width: 215px;
      float: left;
    }

    td {
      vertical-align: top;
    }
  }
}
