.epiceditor {
  margin-bottom: 4rem;
}

.epiceditor iframe {
  border: 1px solid #ccc;
}

.action-fields:not(.active) {
  display: none;
}

.page#action {
  fieldset label {
    display: inline-block;

    &:not(.prepend-input) {
      margin-right: 1em;
    }
  }

  fieldset ul {
    list-style-type: none;
    padding: 0 0 0 1em;
    margin: 0;

    li {
      padding: 0.5em 0 0.5em 0;
    }
  }
}