$eff-red: #ec1e1e;
$gray: #949494;
a:link,
a:visited,
a:focus,
a:active {
  color: #00d;
}

/* Tooltip container */
.tooltip {
  color: $gray;
  border: 2px solid $gray;
  border-radius: 1rem;
  display: inline-block;
  font-size: 18px;
  font-weight: 800;
  padding: 0 7px;
  position: absolute;
  right: 0;
  top: 0;
  .tooltiptext {
    background-color: black;
    border-radius: 0.5rem;
    color: white;
    font-size: 16px;
    font-weight: 400;
    left: 2rem;
    padding: 1rem;
    position: absolute;
    text-align: left;
    visibility: hidden;
    width: 20rem;
    z-index: 1;
  }
  &:hover {
    color: black;
    .tooltiptext {
      visibility: visible;
    }
  }
}
