.institutions-upload, .institutions-new, .institutions-edit {
  form .form-item label {
    display: inline-block;
    margin-right: 1em;
  }
  input[type="submit"] {
    margin-top: 1em;
  }
}

.institutions-index {
  form {
    margin: 1em 0;
  }
  a.btn {
    color: #333;
    text-decoration: none;
    border: 0;
  }
  table {
    .btn-group {
      text-align: center;
    }
  }
}
