$eff-red: #ec1e1e;
$light-blue: #e5ebec;
$border-gray: #aaa;

$sans-serif: "Montserrat", sans-serif;

@mixin small {
  @media (max-width: 990px) {
    @content;
  }
}

@mixin medium {
  @media (min-width: 990px) {
    @content;
  }
}

@mixin large {
  @media (min-width: 1400px) {
    @content;
  }
}

@mixin button {
  display: inline-block;
  border: 0;
  border-radius: 5px;
  padding: 1em 2.5em;
  background: $light-blue;
  box-shadow: 3px 3px 2px #ddd;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;

  color: #000;

  &:link,
  &:visited,
  &:focus,
  &:active {
    color: #000;
  }

  &.sm {
    @include button-sm;
  }
}

@mixin button-sm {
  padding: 0.4em 1em;
}

@mixin label {
  display: block;
  font-size: 1.2em;
  margin-bottom: 0.4em;

  .hint {
    font-size: 0.7em;
    opacity: 0.8;
  }
}

@mixin sr-only {
  display: inline-block;
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
