# Add configuration values here, as shown below.

secret_key_base: 'xxx'
sunlight_api_key: 
smtp_username: 
smtp_password: 
smtp_address:
smtp_port: "587"
smtp_domain:
smtp_authentication: plain
smtp_enable_starttls_auto: "true"
mailings_from: 'Example Action <actioncenter@example.com>'
twitter_handle: 'example' # your organization's twitter account, no @ sign
twitter_related: 'example1 example2' # related twitter accounts
facebook_handle: 'example'
call_tool_url: 'https://call-tool.example.com/create'
congress_forms_url: 'https://congressforms.example.com'
devise_secret_key: 'xxx'
storage: 's3' # either 's3' or 'file'
amazon_access_key_id: 
amazon_secret_access_key: 
amazon_region: us-west-1
amazon_bucket: actioncenter
amazon_bucket_url: # usually not needed, determined from region and bucket
smarty_streets_id: 
smarty_streets_token: 
congress_forms_debug_key: 
cors_allowed_domains: http://www.example.com https://www.example.com
time_zone: 'Eastern Time (US & Canada)'
amazon_authorize_key:

development:
  supporters_api_key: 
  supporters_host: https://supporters.eff.org
  supporters_path: /civicrm/eff-action-api
  db_adapter: postgresql
  db_database: action_center_dev
  db_username: action_center_dev
  db_password: 
  db_host: 
  db_port: "5432"
  db_sslmode: verify-full # or one of [disable|allow|prefer|require]
  db_sslrootcert: /path/to/ssl_root.crt
  # the following twitter vars are needed only if you want to auto-fetch user avatars when they're added as an individual tweet target
  twitter_oath_token:
  twitter_oath_token_secret:
  twitter_api_key:
  twitter_api_secret:
  enable_basic_auth: 'false'
  basic_auth_username: 
  basic_auth_password: 

production:
  supporters_api_key: 
  supporters_host: https://supporters.eff.org
  supporters_path: /civicrm/eff-action-api
  db_adapter: postgresql
  db_database: action_center_dev
  db_username: action_center_dev
  db_password: 
  db_host: 
  db_port: "5432"
  twitter_oath_token:
  twitter_oath_token_secret:
  twitter_api_key:
  twitter_api_secret:

test:
  db_database: actioncenter
  db_username: actioncenter
  db_password: 
  db_host: 
