common: &common
  adapter: postgresql
  encoding: unicode
  pool: 5
  database: <%= Rails.application.secrets.db_database %>
  username: <%= Rails.application.secrets.db_username %>
  password: <%= Rails.application.secrets.db_password %>
  host: <%= Rails.application.secrets.db_host %>
  port: <%= Rails.application.secrets.db_port %>
  sslmode: <%= Rails.application.secrets.db_sslmode %>
  sslrootcert: <%= Rails.application.secrets.db_sslrootcert %>

development:
  <<: *common

test:
  <<: *common

production:
  <<: *common
