common: &common
  adapter: <%= Rails.application.secrets.db_adapter %>
  encoding: <%= Rails.application.secrets.db_encoding %>
  pool: 5
  database: <%= Rails.application.secrets.db_database %>
  username: <%= Rails.application.secrets.db_username %>
  password: <%= Rails.application.secrets.db_password %>
  host: <%= Rails.application.secrets.db_host %>
  port: <%= Rails.application.secrets.db_port %>
  sslmode: <%= Rails.application.secrets.db_sslmode %>
  sslrootcert: <%= Rails.application.secrets.db_sslrootcert %>

development:
  <<: *common

test: &test
  <<: *common

production:
  <<: *common

staging:
  <<: *common

cucumber:
  <<: *test
