# Populated by application.yml or ENV vars (if using heroku)
default: &default
  secret_key_base:  <%= ENV["secret_key_base"] %>
  smtp_username: <%= ENV["smtp_username"] %>
  smtp_password: <%= ENV["smtp_password"] %>
  smtp_address: <%= ENV["smtp_address"] %>
  smtp_port: <%= ENV["smtp_port"] %>
  smtp_domain: <%= ENV["smtp_domain"] %>
  smtp_authentication: <%= ENV["smtp_authentication"] %>
  smtp_enable_starttls_auto: <%= ENV["smtp_enable_starttls_auto"] %>
  mailings_from: <%= ENV["mailings_from"] %>
  twitter_handle: <%= ENV["twitter_handle"] %>
  twitter_related: <%= ENV["twitter_related"] %>
  facebook_handle: <%= ENV["facebook_handle"] %>
  call_tool_url: <%= ENV["call_tool_url"] %>
  call_tool_api_key: <%= ENV["call_tool_api_key"] %>
  congress_forms_url: <%= ENV["congress_forms_url"] %>
  devise_secret_key: <%= ENV["devise_secret_key"] %>
  storage: <%= ENV["storage"] %>
  amazon_access_key_id: <%= ENV["amazon_access_key_id"] %>
  amazon_secret_access_key: <%= ENV["amazon_secret_access_key"] %>
  amazon_region: <%= ENV["amazon_region"] %>
  amazon_bucket: <%= ENV["amazon_bucket"] %>
  amazon_bucket_url: <%= ENV["amazon_bucket_url"] %>
  fastly_api_key: <%= ENV["fastly_api_key"] %>
  smarty_streets_id: <%= ENV["smarty_streets_id"] %>
  smarty_streets_token: <%= ENV["smarty_streets_token"] %>
  congress_forms_debug_key: <%= ENV["congress_forms_debug_key"] %>
  supporters:
    api_key: <%= ENV["supporters_api_key"] %>
    host: <%= ENV["supporters_host"] %>
    path: <%= ENV["supporters_path"] %>
    civi_api_key: <%= ENV["supporters_civi_api_key"] %>
    civi_key: <%= ENV["supporters_civi_key"] %>
  db_adapter: <%= ENV["db_adapter"] %>
  db_encoding: <%= ENV["db_encoding"] %>
  db_database: <%= ENV["db_database"] %>
  db_username: <%= ENV["db_username"] %>
  db_password: <%= ENV["db_password"] %>
  db_host: <%= ENV["DB_PORT_5432_TCP_ADDR"] || ENV["db_host"] %>
  db_port: <%= ENV["db_port"] %>
  db_sslmode: <%= ENV["db_sslmode"] %>
  db_sslrootcert: <%= ENV["db_sslrootcert"] %>
  twitter_oauth_token: <%= ENV["twitter_oauth_token"] %>
  twitter_oauth_token_secret: <%= ENV["twitter_oauth_token_secret"] %>
  twitter_api_key:  <%= ENV["twitter_api_key"] %>
  twitter_api_secret: <%= ENV["twitter_api_secret"] %>
  sentry_dsn: <%= ENV["sentry_dsn"] %>
  time_zone: <%= ENV["time_zone"] %>
  amazon_authorize_key: <%= ENV["amazon_authorize_key"] %>
  enable_basic_auth: <%= ENV["enable_basic_auth"] %>
  basic_auth_username: <%= ENV["basic_auth_username"] %>
  basic_auth_password: <%= ENV["basic_auth_password"] %>
  cors_allowed_domains: <%= ENV["cors_allowed_domains"] %>
  force_ssl: <%= ENV["force_ssl"] %>

development: *default

test:
  <<: *default
  db_adapter: <%= ENV["test_db_adapter"] %>
  db_encoding: <%= ENV["test_db_encoding"] %>
  db_database: <%= ENV["test_db_database"] %>
  db_username: <%= ENV["test_db_username"] %>
  db_password: <%= ENV["test_db_password"] %>
  db_host: <%= ENV["TESTDB_PORT_5432_TCP_ADDR"] || ENV["test_db_host"] %>
  db_port: <%= ENV["test_db_port"] %>
  db_sslmode: <%= ENV["test_db_sslmode"] %>
  db_sslrootcert: <%= ENV["test_db_sslrootcert"] %>
  congress_forms_url: "https://congressforms.eff.org"
  congress_forms_debug_key: "shh"
  fastly_api_key:

production: *default
staging: *default
