<% content_for(:nav) { render "admin/nav" } %>
<div class="gallery">
  <div class="images">
    <%= render partial: "upload_and_search" %>

    <ul class="source-file-collection">
      <%= render @source_files unless @source_files.empty? %>
    </ul>
  </div>
</div>
