<tr>
  <td>
    <% if(date == "Total"){ %>
      <b><%= date %></b>
    <% } else { %>
      <%= date %>
    <% } %>
  </td>
  <td>
    <% if(date == "Total"){ %>
      <b><%= count %></b>
    <% } else { %>
    <%= count %>
    <% } %>
  </td>
</tr>
