.action_page-show,
.action_pages-preview {
  .row {
    @include flex-this;
    > div {
      @include flex-item;
      margin-left: 0;
      text-align: left;
      width: 100%;
      @media screen and (min-width: $ph) {
        width: 50%;
      }
      @media screen and (min-width: $xl) {
        width: 60%;
      }
    }
  }
}
#progress-bar {
  .count, .goal {
    font-size: $base-font-size * 0.7;
  }
}

.short-description {
  margin-top: 2em;
  h5 {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  > p {
    font-size: $base-font-size * 1.2;
    line-height: $base-line-height * 1.2;
  }
  img {
    margin-bottom: 3rem;
  }
  input:not(:checked) + label + div {  // for Learn more
    display: none;
  };

  [type="checkbox"]:not(:checked) + label,
  [type="checkbox"]:checked + label {
    @extend p;
    @media screen and (min-width: $ph) {
      margin-left: 0;
    }
    padding-left: 0;
    &:before,
    &:after {
      display: none;
    }
  }
}

#description {
  p, li {
    margin-bottom: 1em;
  }
}


.form-control {
  border-radius: 0;
  padding: 0 0.5em;
  font-size: 0.8em;
}

#tools {
  .page-indicator {
    @include griddy;
    background-color: $off-white;
    display: none; // hide unless congress-message-tool
    > div {
      border-left: 4px solid $gray-darker;
    }
    div.page1 {  // start on page 1
      background-color: $eff-red;
      border-left: none;
    }
  }
  .tool {
    background-color: $gray-darker;
    color: black;
    margin-bottom: 1.5rem;
    text-align: center;
    h3 {
      color: black;
      font-size: $base-font-size;
      line-height: $base-line-height;
      margin-top: 0;
    }
    a {
      color: black;
      border-bottom: 2px solid black;
      &:hover {
        border-bottom: 2px solid $charcoal;
      }
    }
    .tool-container {
      padding: 2em 0.4em 0 0.4em;
    }

    .tool-heading {
      color: $off-white;
      text-transform: uppercase;
      text-align: center;

      .tool-title {
        color: $off-white;
        font-family: $league;
        font-size: 4rem;
        font-weight: 200;
        line-height: 4rem;
        padding: 5px 0 0 0;
        margin: 0;
        text-transform: uppercase;

        .glyphicon {
          font-size: 0.8em;
          padding-right: 0.2em;
        }
      }

      img {
        width: 100px;
        height: 100px;
      }
    }

    .tool-body {
      padding: 10px;
      a {
        color: black;
        border-bottom: 2px solid black;
        &:hover {
          color: $charcoal;
          border-bottom: 2px solid $charcoal;
        }
      }
      form input[type="text"], form input[type="email"], form textarea {
        font-style: italic;
      }
    }
    .tool-notice {
      padding-bottom: 0.5rem;
    }
    .btn-default[disabled="disabled"] {
      opacity: 0.7;
    }
    .add_fields {
      font-size: 0.8rem;
    }
    form {
      text-align: left;
    }
    select {
      max-width: 60%;
      margin-bottom: 0.5rem;
    }
    #affiliations select {
      max-width: 100%;
    }
    .input-pair {
      margin-bottom: 0.5rem;
    }
    input[type=submit].action, button[type=submit].action {
      @extend .eff-red-button;
    }
    label.checkbox.small {
      font-size: 70%;
      font-weight: normal;
    }
    .alert.alert-danger {
      padding: 6px 15px 6px 10px;
      margin: 10px 0px 10px 0px;
    }
    .privacy-notice {
      font-size: 0.8rem;
      padding: 0.5rem 0;
    }
    p.step2-intro {
      font-size: 1rem;
    }
    p.donate {
      text-align: center;
      margin-bottom: 1.2rem;
    }
    fieldset {
      margin: 0.5rem 0 0.8rem;
      &.has-error {
        background-color: $eff-red;
        padding: 4px;
        margin: 0.5em -5px 0.8em;
      }
      &#lookup-address {
        margin: 0;
        &.has-error {
          margin-top: 1em;
        }
      }
      .help-block {
        margin-bottom: 0;
      }
      .info-circle {
        @include transition (all 0.2s ease-in-out);
        display: inline-block;
        float: right;
        border: 1px solid $eff-red;
        text-align: center;
        border-radius: 10px;
        position: relative;
        top: -1px;
        text-transform: none;
        font-weight: normal;
        letter-spacing: 0;
        font-size: 13px;
        font-style: normal;
        padding: 0px 6px;
        background-color: $off-white;
        color: $eff-red;
        i {
          font-size: $base-font-size * 0.8;
          margin-right: -3px;
        }
        &.in-progress {
          color: $gray;
          border-color: #bce8f1;
          background-color: #d9edf7;
        }
        &.success {
          color: #3c763d;
          border-color: #d6e9c6;
          background-color: #dff0d8;
        }
        &.error {
          color: #a94442;
          border-color: #ebccd1;
          background-color: #f2dede;
        }
        &.warn {
          color: #8a6d3b;
          border-color: #faebcc;
          background-color: #fcf8e3;
        }
      }
    }

  }
  .progress {
    height: 41px;
    margin-bottom: 0;
  }

}

#thank-you.tool {
  display: none;
  .social-button {
    display: inline-block;
  }
  #tweet-back {
    text-decoration: underline;
    &:hover {
      cursor: pointer;
    }
  }
}
.js {
  .tool {
    .email-signup + .email-signup {
      display: none;
    }
  }
}

.victory-count {
  margin-bottom: 10px;
}
#petition-tool.unsigned .signed { display: none; }
#petition-tool.signed .unsigned { display: none; }
#petition-tool .tool-body .signed { text-align: center; }

#tools #petition-tool {
  input[type=submit] {
    margin-top: 0;
    margin-bottom: 5px;
  }
  fieldset:last-of-type {
    margin-bottom: 5px;
  }
}

.intl-toggler {
  cursor: pointer;
  font-size: 0.8em;
  margin-top: 0.6em;
}

#tools #tweet-tool {
  .tool-body {
    @extend form;
  }
  .privacy-notice {
    font-size: 12px;
  }

  .form-group input {
    font-style: italic;
  }

  .newsletter-subscription {
    margin: 0 15px;
  }


  img.individual {
    display: block;
    max-width: 200px;
    margin: 0.5em auto;
    width: 73px;
    height: 73px;
  }

  .rep {
    text-align: left;
    margin-top: 0.5em;

    img {
      height: 90px;
      width: 74px;
      margin-right: 1.2em;
    }

    &.senate, &.house {
      display: none;
    }
  }

  &.senate .senate.rep,
  &.house .rep.house {
    display: block;
  }

  textarea {
    max-width: 100%;
    resize: none;
    height: 6em;
    padding: 0.6em 0.8em;
  }

  .btn-tweet {
    margin: 0em auto 1.5em;
    padding: 5px 10px 5px 5px;
    i {
      color: #04ADEE;
      font-size: 17px;
      position: relative;
      top: 1px;
    }
  }

  #tweet-tool-container {
    margin-top: 20px;
  }

  h3.twitter-tool-label {
    text-align: left;
    margin-top: 40px;
  }

  h3.twitter-tool-label::before {
    margin-bottom: -0.6em;
    content: "";
    display: block;
  }
}

.btn-tweet {
  color: #333;
  text-decoration: none;
  background-color: #e1e8ed;
  background-image: -webkit-linear-gradient(#fff, #e1e8ed);
  background-image: -moz-linear-gradient(#fff, #e1e8ed);
  background-image: linear-gradient(#fff, #e1e8ed);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
  font-weight: bold;
}

.description img.full-width {
  max-width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}
@media (min-width: $lg) {
  .description img.full-width {
    max-width: 109%;
  }
}
@media (min-width: $xl) {
  .description img.full-width {
    max-width: 120%;
    margin-left: -10%;
  }
}

.description h3, h3.privacy-notice-header,
h3.header, #tools #email-tool h3, #tools #congress-message-tool h3 {
  position: relative;
  margin-bottom: 1em;
  text-align: left;
}

.call-script-box h3:before {
  display: none;
}

h3.privacy-notice-header {
  span.privacy-notice-popover {
    @include transition (all 0.2s ease-in-out);
    display: inline-block;
    float: right;
    border: 1px solid #cc0000;
    height: 20px;
    width: 20px;
    text-align: center;
    font-style: normal;
    line-height: 18px;
    padding-top: 0px;
    cursor: pointer;
    position: relative;
    font-weight: bold;
    background-color: #fff;
    color: #cc0000;
    &:hover {
      background-color: #cc0000;
      color: #fff;
    }
  }
}

#signatures {
  font-size: 0.7em;
  text-transform: capitalize;
  .header {
    color: $gray-darker;
    margin: 2em 0 1em;
  }
  td { border: none; }
  .timeago {
    text-align: right;
    text-transform: uppercase;
  }
  .pagination {
    float: right;
  }
}
#description .letter, #letter {
  -webkit-box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.1); // iOS <4.3 & Android <4.1
  box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.1);

  margin: 2em 0 3em;
  padding: 3em 3em 5em;
  position: relative;
  font-family: serif;
  color: #555;
  &:after {
    content: '';
    display: block;
    background-image: -webkit-linear-gradient(45deg, #74bcec 51%, white 50%, white 60%, #d95457 60%, #d95457 75%, white 75%, white 85%, #74bcec 85%, #74bcec);
    background-image: -moz-linear-gradient(45deg, #74bcec 51%, white 50%, white 60%, #d95457 60%, #d95457 75%, white 75%, white 85%, #74bcec 85%, #74bcec);
    background-image: linear, 45deg, #74bcec 51%, white 50%, white 60%, #d95457 60%, #d95457 75%, white 75%, white 85%, #74bcec 85%, #74bcec;
    background-size: 80px 80px;
    height: 0.8em;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .body {
    line-height: normal;

    .date {
      text-align: right;
      margin-bottom: 5em;
      color: #666;
      font-size: 0.8em;
    }
    .close {
      color: #666;
    }
    .title {
      margin-bottom: 1.5em;
    }
    .description {
      margin-bottom: 2em;
    }
    .title, .description {
      font-size: 1.1em;
      font-family: serif;
    }
    .signed {
      color: $gray-light;
      text-transform: uppercase;
      font-size: 0.85em;
      font-style: italic;
      font-weight: bold;
      letter-spacing: 0.1em;
      font-family: $sans-serif;
      margin-bottom: 1em;
    }
    .name {
      margin-bottom: 0.5em;
    }
  }
}

@media (max-width: 768px) {
  #letter .body {
    padding: 3em 2em 4em;
  }
}

#tools #call-tool {
  .tool-container {
    padding-bottom: 0.5em;
  }

  .privacy-notice {
    margin-bottom: 0px;
    text-align: center;
    margin-top: 5px;
  }
  input[type=submit], button[type=submit] {
    margin-top: 0.1em;
    margin-bottom: 0.3em;
  }
  .smalltext {
    font-size: $base-font-size * 0.8;
  }
  h3.header {
    text-transform: uppercase;
  }
  .call-script-box {
    padding: 6px 12px 2px 12px;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  .call-script {
    background: $off-white;
    padding: 1rem;
    font-size: $base-font-size * 0.9;
  }
  .call-body-active .advisory {
    margin-bottom: 1rem;
  }
  .form-errors {
    margin-bottom: 1rem;
  }

  .call-body-phone-saved p.privacy-notice {
    padding: 2rem;
  }
}

.email-tool-container, .congress-message-tool-container {
  display: none;
  input[type=submit] {
    margin-top: 0px !important;
  }
}

#tools #email-tool {
  #target-email {
    padding-bottom: 10px;
  }
  .tool-body {
    padding-top: 0;
    padding-bottom: 10px;
  }
  .tool-title {
    margin-bottom: 10px;
  }
  textarea {
    padding: 6px;
  }

  .form-group {
    margin-bottom: 7px;
  }
  .privacy-notice {
    margin-bottom: 5px;
  }
  input[type=submit] {
    margin-top: 0.1em;
    margin-bottom: 5px;
  }
}

#tools #congress-message-tool {
  .tool-body {
    padding-top: 0;
    padding-bottom: 1rem;
  }
  .tool-title {
    margin-bottom: 1rem;
  }

  form {
    padding-top: 0;
  }

  label {
    font-size:  $base-font-size * 0.8;
  }
  #customize-message {
    margin-top: 0;
    margin-bottom: 0;
  }
  input[type=submit] {
    margin-top: 0.1em;
    margin-bottom: 5px;
  }
  .progress {
    margin-top: 1rem;
  }
  .congress-message-tool-container {
    margin-top: 1rem;
  }
  #congressForms-common-fields div.signup-checkbox:first-child {
    display: block;
  }
  .captcha-form {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  #congressForms-common-fields {
    margin-bottom: 0;
    margin-top: 4px;
  }
  .update-user-data-container .checkbox {
    margin-top: 3px;
    padding-bottom: 5px;
  }
  .congressForms-captcha-image {
    max-width: 250px;
  }
  .congressForms-captcha-label {
    font-weight: normal;
    font-size: 14px;
  }
  .congressForms-legislator-fields {
    margin-bottom: 15px;
    margin-top: 15px;
    &:last-of-type {
      margin-bottom: 15px;
    }
  }
  &.congress-message-rep-lookup {
    fieldset:last-of-type {
      margin-bottom: 0;
    }
  }
  .rep-photo {
    padding: 0;
  }

  h3 {
    &.legislator-label {
      margin-top: 0px;
      margin-bottom: 10px;
      &.common-fields {
        margin-top: 17px;
        margin-bottom: 0;
      }
    }
    span.customize-message-popover {
      @include transition (all 0.2s ease-in-out);
      background-color: white;
      border: 1px solid $eff-red;
      color: $eff-red;
      cursor: pointer;
      display: inline-block;
      font-style: normal;
      font-weight: bold;
      float: right;
      line-height: 18px;
      height: 20px;
      padding-top: 0px;
      position: relative;
      text-align: center;
      width: 20px;
      &:hover {
        background-color: $eff-red;
        color: white;
      }
    }

    span.legislator-info-popover {
      @include transition (all 0.2s ease-in-out);
      display: inline-block;
      float: right;
      border: 1px solid #cc0000;
      height: 20px;
      width: 20px;
      text-align: center;
      font-style: normal;
      line-height: 18px;
      padding-top: 0px;
      cursor: pointer;
      position: relative;
      font-weight: bold;
      background-color: #fff;
      color: #cc0000;
      font-size: 12px;
      &:hover {
        background-color: #cc0000;
        color: #fff;
      }
    }
  }

  .defunct-notice {
    margin-bottom: 10px;
  }
}

.newsletter-subscription {
  input[type=submit] {
    margin-bottom: 5px;
  }

  &.submitted {
    .radio-inline, input {
      opacity: 0.5;
    }

  }
}

// These styles only apply if you are targeting specific email addresses rather than MoC.
#target-email {
  padding-bottom: 1rem;
  fieldset[disabled] textarea.form-control {
    cursor: default;
  }

  i {
    margin-right: 5px;
    margin-left: 0;
  }
  i.icon-mail {
    position: relative;
    top: 1px;
  }
  i.icon-google {
    position: relative;
    top: 1px;
    margin-right: 0;
  }
  .small {
    margin: 1rem 0;
    text-transform: uppercase;
    font-size: $base-font-size * 0.7;
    font-weight: bold;
  }
}


.mailing-list-tool {
  form {
    padding-bottom: 10px;
  }
  #subscription-form input[type=submit] {
    margin-top: 5px;
  }
}
.popover {
  color: $charcoal;
  font-size: 13px;
  h3 {
    color: $charcoal;
  }
}

.popover-legislator-image {
  width: 50px;
}

[name="$ADDRESS_STATE_FULL"] { display: none; }
[name="$ADDRESS_CITY"] { display: none; }
[name="$ADDRESS_STREET"] { display: none; }
[name="$ADDRESS_ZIP5"] { display: none; }
[name="$SUBJECT"] { display: none; }
.congressForms-legislator-fields [name="$SUBJECT"] {display: block;}
[name="$MESSAGE"] { display: none; }
[name="$ADDRESS_ZIP4"] { display: none; }
[name="$ADDRESS_STATE_POSTAL_ABBREV"] { display: none; }

/* Fix for broken bootstrap-sass */

@include keyframes(progress-bar-stripes) {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}

.progress-striped .progress-bar {
  @include background-image(linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent));
}


.action-page-list-image img {
  width: 50px;
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
}

// "All Campaigns" page

.action_page-index {
  section.more-actions {
    padding-top: 100px;
    .row > div:first-child {
      border: 0;
    }
    .row > div:last-child {
      border: 0;
    }
    .row .col-sm-4 {
      margin-bottom: 100px;
    }
  }
  .pagination {
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 8rem;
    a {
      border: none;
    }
    .current {
      border: 1px solid $off-white;
      padding: 1px 4px 1px 1px;
    }
  }
}
input[type="file"] {
  margin-bottom: 10px;
}

.chosen-container {
  width: 100% !important;
}
.chosen-container-single .chosen-single {
  height: 26px;
}

@-moz-document url-prefix() {
  #tools .tool select {
    padding: 5px;
  }
}


/* Set how things appear for users without js */
html.no-js {
  .with-js {
    display: none;
  }
  .without-js {
    display: block;

    .tool-body {
      font-size: 15px;
      textarea.samplemessage {
        font-size: 12px;
        width: 100%;
        height: 140px;
        margin-bottom: 10px;
        padding: 5px;
      }
      form {
        margin-top: 20px;
      }
    }
  }
}
html.js {
  .with-js {
    display: block;
  }
  .without-js {
    display: none;
  }
}

/* Tools div media queries */

@media screen and (min-width: $md) {
  #tools {
    margin-top: 32px;
    margin-bottom: 30px;
    position: fixed;
    right: 5%;
    top: 100px;
    width: 312px;
  }
  .tools-wrapper.fixed {
    position: static;
  }
  .tools-wrapper.tools #tools {
    position: absolute;
    top: 97px;
  }

  #tools .tool select {
    max-width: auto;
  }
  .action-content {
    margin-bottom: 40px;
  }
}

@media (min-width: $xl ) {
  #tools {
    right: 11%;
    width: 390px;
  }
}


.no-js .plain-date {
  display: block !important;
}

.blackflag {
  background-color: #000;
  color: #fff;
  padding: 1px 0;

  a {
    color: $off-white;
    text-decoration: underline;

    &:hover {
      color: $gray-light;
    }
  }
}
.petitions-report .description {
  max-width: 750px;
  margin: auto;
}

/**
* Select menu autocomplete
*/
#affiliations,
#signatures {
  .select2-selection,
  .select2-dropdown {
    border-radius: 0;
    padding-left: 0.5em;
    font-size: 0.8em;
  }

}

#affiliations .select2-container {
  margin-bottom: 0.5em;
}

.select2-results__option {
  font-size: 0.8em;
  margin-bottom: 0;
}

.select2-container--bootstrap .select2-selection--single .select2-selection__arrow b {
  border-color: rgba(0, 0, 0, 0.34) transparent transparent transparent;
  border-width: 6px 3px 0 3px;
  margin-left: 3px;
}

// Greyed-out placeholder text
html.js #affiliations {
  select option {
    color: rgb(85, 85, 85);
  }

  select option:first-child {
    color: #aaa;
  }
  select.empty {
    color: #aaa;
  }
}

/**
* Signatures by institution
*/
#signatures-filter {
  font-size: 17px;
  text-transform: none;

  #institution-select-container {
    width: 70%;
    float: left;
    padding-top: 2px;
  }

  input[type=submit] {
    @extend .eff-red-button;
    float: right;
    width: 26%;
    font-size: 0.7em;
    margin: 0;
  }
}

#signatures {
  .affiliation-line {
    margin-left: 10px;
  }
}

#signatures.affiliation-signatures {

  .header {
    color: $eff-red;
  }

  .content {
    border: 1px solid $gray-light;
    padding: 15px;

    table {
      margin-top: 25px;
    }

    .name {
      margin-bottom: 2px;
    }
  }
}
