.grey-box {
  border: 1px solid #eee;
  padding: 20px;
}

#settings {
  i.action-type {
    font-size: 22px;
    line-height: 1.1;
  }
  .user-info {
    @extend .grey-box;
    font-size: 15px;
    margin-top: 20px;
    float: left;
  }
  h4:first-child {
    margin-top: 5px;
  }
  .edit-settings {
    font-size: 11px;
    line-height: 1.1;
    padding-bottom: 1px;
    border: 0;
    margin-bottom: 0;
    margin-top: 0;
    .btn-red-outline {
      font-size: 11px;
      line-height: 1.1;
    }
  }
  h4 .edit-settings {
    float: right;
  }
}

.action-grid {
  font-size: 14px;
  float: left;

  span {
    font-size: 36px;
    color: $blue;
    font-weight: bold;
    margin-right: 5px;
    letter-spacing: -2px;
  }

  .quad-1 {
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
  }
  .quad-2 {
    border-bottom: 1px solid #e0e0e0;
  }
  .quad-3 {
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
  }
  .quad-4 {
    border-bottom: 1px solid #e0e0e0;
  }
  .total {
    float: right;
  }
}

.table-condensed {
  font-size: 14px;
}

.users-show .action-stats {
  @extend .grey-box;
  float: left;
  margin-bottom: 20px;
  margin-top: 30px;

  h3 {
    margin-top: 0;
    margin-bottom: 0;
  }
  .percentile {
    clear: both;
    span {
      font-weight: bold;
      color: $eff-red;
      letter-spacing: -1px;
      font-size: 36px;
    }
    p {
      line-height: 1.1;
    }
  }
}

.users-show .activity-stream {
  .age {
    font-size: 13px;
    color: $gray;
    margin-left: 4px;
  }
  table {
    font-size: 15px;
    .icon {
      padding-right: 0;
      width: 28px;
    }
    tbody > tr > td {
      padding: 12px;
      vertical-align: middle;
      border: 0;
    }
  }

  td.btn-col {
    text-align: right;
    min-width: 127px;
  }
  h3 {
    margin-top: 40px;
  }
}

span.green-rect {
  line-height: 35px;
  border: 1px solid $green;
  color: $green;
  padding: 8px 18px;
  font-size: 14px;
  &.has-icon {
    padding-left: 5px;
    min-width: 99px;
    i.icon-ok-circle {
      font-size: 24px;
      position: relative;
      top: 3px;
      margin-right: 5px;
    }
  }
}

.passwords-edit,
.passwords-new,
.confirmations-new,
.sessions-new,
.registrations-new,
.registrations-create,
.registrations-edit,
.confirmations-create,
.confirmations-show,
.unlocks-new,
.users-edit {
  .top-section {
    width: 100%;
    .container {
      padding: 0 3%;
    }
    .row {
      @include flex-this;
      > div {
        @include flex-item;
        @media screen and (max-width: $lg) {
          width: 100%;
        }
      }
      &:first-child {
        margin-left: 0;
        text-align: right;
      }
    }
  }

  .extra-links {
    font-size: $base-font-size * 0.9;
  }
  .email-signup {
    background-color: $off-white;
    color: $charcoal;
    padding: 1rem;
  }
  .error_explanation {
    background-color: transparent;
    border: 2px solid $gray-dark;
    margin-bottom: 1rem;
    font-size: 0.85em;
    line-height: 1.3;

    &> .panel-heading {
      background-color: transparent;
      padding: 1rem;
      color: $off-white;
      h3.panel-title {
        font-size: 1.5rem;
        text-transform: uppercase;
      }
    }
    &> .panel-body {
      padding: 1rem;
    }
    p {
      margin-bottom: 3px;
    }
  }
}

.users-edit .top-section .row:last-child {
  width: 100%;
  input,
  select {
    margin: 5px 0 1.5rem;
  }
  .eff-red-button {
    display: block;
    margin: 5px auto;
  }
}

table.table-simple {
  td {
    border: 0;
    vertical-align: baseline;
    border-bottom: 1px solid #eee;
    font-size: 0.9em;
    padding: 6px;
  }
  td:first-child {
    text-align: left;
    text-transform: uppercase;
    font-size: 0.8em;
  }
  td:last-child {
    text-align: right;
  }
  tr:last-child td {
    border-bottom: 0;
  }
}

.input-note {
  color: $charcoal;
  font-size: 0.8rem;
  line-height: 2em;
  border-bottom: 2px solid $charcoal;
  &:hover,
  &:focus {
    color: black;
    border-bottom: 2px solid black;
  }
}
