/*
* This is a manifest file that'll be compiled into welcome.css
*/


.home {
  h1 {
    font-size: 35px;
    font-weight: 400;
  }
  .email-signup {
    max-width: 460px;
    margin-top: 60px;

    @media (max-width: $screen-xs-max) {
      margin-top: 40px;
    }

    input {
      @include placeholders {
        color: #aaa;
        -webkit-font-smoothing: antialiased;
      }
      margin: 0 4px 0 0;

      @media (max-width: $screen-xs-max) {
        max-width: 80%;
        margin: 0 auto;
      }
    }
    .btn {
      @extend .eff-red-button;
    }
  }
}


section.featured-action {
  .container {
    margin: 0;
    padding: 0 0 0 5%;
    @media (max-width: 991px) {
      margin-top: 50px;
      margin-bottom: 30px;
    }
    .row {
      @include flex-this;
      div {
        @include flex-item;
        text-align: left;
        width: 33%;
      }
    }
    .flexbox-item {
      width: 66%;
    }
  }
  .image {
  }

  h2 {
    margin-bottom: 16px;
    @media (max-width: $screen-md-max) and (min-width: $screen-sm-min) {
      margin-top: 0px;
    }
    span {
      font-style: italic;
      font-weight: 100;
      text-transform: uppercase;
      font-size: 22px;
    }
  }
  .btn {
    margin-top: 13px;
  }

  a, a:hover, a:focus {
    h2, p {
      color: $off-white;
      text-decoration: none;
    }
  }
}


section.more-actions {
  margin: 0 0 150px 0;
  padding: 0 0 0 5%;
  .row {
    @include flex-this;
    > div {
      @include flex-item;
      text-align: left;
    }
  }

  .image {
    overflow: hidden;
    position: relative;
    img {
      max-width: 100%;
    }
  }

  .text {
    h3 {
      @include transition (color 0.3s ease-in-out);
      text-align: left;
    }
    p {
      @include transition (color 0.3s ease-in-out);
      text-align: left;
      font-size: 14px;

      @media (max-width: 991px) {
        text-align: left;
      }
    }
    a {
    }

  }

  p.seemore {
    text-align: center;
    color: $red;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 14px;
    margin-top: 25px;
    margin-bottom: 0;
    a {
      @include transition (all 0.3s ease-in-out);

      .arrow {
        @include transition (all 0.3s ease-in-out);
        fill: $red;
        width: 10px;
        height: 10px;
        margin-left: 5px;
      }
      &:hover .arrow {
        @include transform(rotate(90deg));
      }
    }
  }
  .see-all {
    @include flex-this;
    margin: 8rem auto 3rem;
    text-transform: uppercase;
  }
}

section.mobile-apps {
  margin-top: 70px;
  .image {
    text-align: right;
    img {
      margin-right: 10px;
    }
  }
}


/* Link a whole div as per https://stackoverflow.com/questions/796087/make-a-div-into-a-link */
span.link-div {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;

  /* Fixes overlap error in IE7/8,
  make sure you have an empty gif */
  background-image: image-url('empty.gif');
}
