/*
* This is a manifest file that'll be compiled into welcome.css
*/


.home {
  h1 {  // tagline
    font-size: 35px;
    font-weight: 400;
  }
}


section.featured-action {
  .container {
    margin: 3rem 0 7rem;
    padding: 0 0 0 5%;
    @media (max-width: 991px) {
      margin-top: 50px;
      margin-bottom: 30px;
    }
    .row {
      @include flex-this;
      div {
        @include flex-item;
        text-align: left;
      }
      div:first-child { // featured image
        padding: 5px 2rem 0 0;
        width: 66%;
      }
      div:last-child { // featured text
        margin-top: 0;
        width: 33%;
        h5 {
          padding-top: 0;
        }
      }
    }
  }


  h2 {
    margin-bottom: 16px;

    span {
      font-style: italic;
      font-weight: 100;
      text-transform: uppercase;
      font-size: 22px;
    }
  }
}


section.more-actions {
  margin: 0;
  padding: 0;
  .row {
    @include flex-this;
    > div {
      @include flex-item;
      margin-top: 0;
      text-align: left;
    }
  }

  .more-actions-image {
    overflow: hidden;
    position: relative;
    img {
      max-width: 100%;
    }
  }

  .more-actions-text {
  }

  .see-all {
    @include flex-this;
    margin: 10rem auto 5rem;
    text-transform: uppercase;
  }
}

section.mobile-apps {
  margin-top: 70px;
  .image {
    text-align: right;
    img {
      margin-right: 10px;
    }
  }
}


/* Link a whole div as per https://stackoverflow.com/questions/796087/make-a-div-into-a-link */
span.link-div {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;

  /* Fixes overlap error in IE7/8,
  make sure you have an empty gif */
  background-image: image-url('empty.gif');
}
