<%= render 'admin/header' -%>
<div class='container-fluid'>

  <h3>New Relationship Type</h3>

  <%= render 'form' %>

  <div>
    <%= link_to 'Back', [:admin, @actionPage, AffiliationType] %>
  </div>
</div>