.footer {
  background: black;
  color: $gray;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1rem 1rem 0 1rem;
  position: absolute;
  text-transform: uppercase;
  z-index: 10;

  a {
    color: $gray;
    border-bottom: none;
    font-size: 1.1rem;
    font-weight: 300;
    &:hover {
      color: white;
      border-bottom: 2px solid white;
    }
  }

  .container {
    padding-top: 2rem;
    padding-bottom: 5rem;
    background: black;
  }

  .logo {
    a {
      background: asset-url('EFF-logo-lockup-1color-gray.svg') no-repeat;
      display: block;
      height: 4.5rem;
      margin-bottom: 2rem;
      &:hover {
        border: none;
      }
    }
  }

  .links {
    @include flex-this;
    justify-content: space-between;
    color: $gray;
    padding: 0;
    margin: 0;
    max-width: 80%;
    a {
      @include transition (color 0.2s ease-in-out);
    }
  }
}
