@mixin griddy { // class for css-grid parent
  display: grid;
  grid-template-columns: 45% 45%;
  grid-template-rows: auto;
  grid-column-gap: 10%;
  grid-row-gap: 2rem;
  margin-top: 2rem;
  width: 100%;
}

// flexbox
@mixin flex-this { // class for flexbox parent
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  @media screen and (max-width: $md) {
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }
}

@mixin flex-item { // flexbox child
  height: auto;
  margin: auto;
  text-align: left;
  width: 33%;
  @media screen and (max-width: $ph) {
    width: 100%;
  }
}
// Make sure to give parent element the style position:relative
@mixin vertical-center {
  display: block;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

//This is an alternative to bourbon's "placeholder" mixin. That one conflicts with bootstrap, so instead we define placeholders
@mixin placeholders {
  $placeholders: ":-webkit-input" ":-moz" "-moz" "-ms-input";
  @each $placeholder in $placeholders {
    &:#{$placeholder}-placeholder {
      @content;
    }
  }
}

@mixin eff-tooltip {
  @include transition (all 0.2s ease-in-out);
  background-color: white;
  color: $eff-red;
  cursor: pointer;
  display: inline-block;
  font-style: normal;
  font-weight: bold;
  float: right;
  line-height: 19px;
  height: 20px;
  margin-top: 0.4rem;
  padding-top: 0;
  position: relative;
  text-align: center;
  width: 20px;
  &:hover {
    background-color: $eff-red;
    color: white;
  }
}
