@mixin speak-out-button {
  @include transition (background-color 0.2s ease-in-out);
  width: 100%;
  border: none;
  font-size: 0.9em;
  padding: 10px 0;
  background-color: $red;
  color: #fff;
  text-transform: uppercase;
  margin-top: 1em;
  letter-spacing: 0.06em;
  &:hover {
    background-color: darken($red, 15%);
  }
}

@mixin griddy { // class for css-grid parent
  display: grid;
  grid-template-columns: 45% 45%;
  grid-template-rows: auto;
  grid-column-gap: 10%;
  grid-row-gap: 2rem;
  margin-top: 2rem;
  width: 100%;
}

// flexbox
@mixin flex-this { // class for flexbox parent
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  @media screen and (max-width: $md) {
    flex-direction: column;
    width: 100%;
  }
}

@mixin flex-item { // flexbox child
  height: auto;
  margin: auto;
  width: 30%;
  @media screen and (max-width: $md) {
    width: 100%;
  }
}
// Make sure to give parent element the style position:relative
@mixin vertical-center {
  display: block;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

//This is an alternative to bourbon's "placeholder" mixin. That one conflicts with bootstrap, so instead we define placeholders
@mixin placeholders {
  $placeholders: ":-webkit-input" ":-moz" "-moz" "-ms-input";
  @each $placeholder in $placeholders {
    &:#{$placeholder}-placeholder {
      @content;
    }
  }
}
