$nav-height: 80px;
$nav-font-color: white;
$nav-font-size: 1.1rem;
$nav-text-transform: uppercase;

body {
  margin-top: $nav-height;
}

nav {
  background-color: $eff-red;
  display: block;
  height: $nav-height;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;

  a {
    border: none;
    color: white;
    display: inline-block;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
    &:visited {
      color: inherit;
    }
  }

  .menu-logo {
    @media screen and (min-width: $md) {
      height: 90px;
      width: 500px;
      left: 0;
      margin-top: 0;
      position: relative;
    }
    background: asset-url('EFF-logo-action.svg') no-repeat;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    display: inline-block;
    height: 50px;
    left: 0.5rem;
    margin-top: 1rem;
    position: absolute;
    top: 0;
    transition: all 0.2s;
    width: 250px;
  }
  ul {
    display: inline-block;
    font-size: 0.75rem;
    list-style: none;
    line-height: 1rem;
    margin: 0.5rem auto 0;
    padding: 0 0 0 1rem;

    li {
      color: white;
      display: block;
      font-size: $nav-font-size;
      font-weight: 700;
      margin: 0.9rem auto 0;
      text-align: left;
      text-transform: $nav-text-transform;
      a {
        color: white;
        &.active {
          color: white;
        }
        &:hover {
          &:not(.menu-logo) {
            border-bottom: 2px solid white;
            color: white;
          }
        }
      }
    }
  }

  #nav-menu {
    background-color: $gray;
    color: black;
    display: inline-block;
    right: 11%;
    top: 4rem;
    position: absolute;
    transition: all 0.3s ease;
    width: 300px;
    z-index: 100;
    a {
      border: 0;
      color: black;
      &:hover {
        border-bottom: 2px solid black;
      }
    }
    form {
      background: transparent;
      margin: 0;
      padding: 0;
    }
    .nav-form-link {
      input[type=submit] {
        background: none;
        border: none;
        color: black;
        cursor: pointer;
        margin: 0;
        text-decoration: none;
        text-transform: uppercase;
        &:hover {
          border-bottom: 2px solid black;
        }
      }
    }
  }

  .open-menu {
    color: white;
    display: inline-block;
    font-size: 5rem;
    top: 1.8rem;
    position: absolute !important;
    right: 11%;
    z-index: 1000;
    &:before,
    &:after {
      display: none;
    }
    &:hover {
      border-bottom: none;
      cursor: pointer;
    }
  }
}
