#tools .tool .tool-body {
  .share {
    @include griddy;
    grid-template-columns: 18% 18% 18% 18%;
    margin-top: 0;
    a,
    a:hover {
      border: none;
      margin-bottom: 2rem;
    }
  }
  a.eff-red-button {
    border-bottom: 0.3rem solid $dark-red;
    color: $off-white;
    display: inline-block;
    margin-bottom: 3rem;
    &:hover {
      border: none;
      border-bottom: 0.3rem solid $eff-red;
    }
  }
  .sicon {
    float: left;
    width: 54px;
    height: 54px;
    background-color: black;

  }

  #share-buttons .sicon {
    margin-top: 20px;
    &:hover {
      opacity: 0.8;
    }
  }

  #sfb {
    background-image: image-url("social-facebook.svg");
  }

  #stwit {
    background-image: image-url("social-twitter.svg");
  }

  #semail {
    background-image: image-url("social-email.svg");
  }

  #slink {
    background-image: image-url("social-link.svg");
  }

}
