#tools .tool .tool-body {
  .share {
    @include griddy;
    grid-template-columns: 33% 34% 33%;
    margin-top: 0;
    a,
    a:hover {
      border: none;
      margin-bottom: 2rem;
    }
  }
  a.eff-red-button {
    color: $off-white;
    &:hover {
      border: none;
  }
  }
  .sicon {
    float: left;
    width: 54px;
    height: 54px;
    background-color: black;
    background-image: image-url("social-icons.png");
  }

  #share-buttons .sicon {
    // margin-top: 2px;  // changed when tweet count was disabled
    margin-top: 20px;
  }

  #sfb {
    background-position: 70% 0;
  }

  #sfb:hover {
    opacity: 0.8;
  }

  #stwit {
    background-position: 50% 0;
  }

  #stwit:hover {
    opacity: 0.8;
  }

  #semail {
    background-position: 40% 0;
  }
  #semail:hover {
    opacity: 0.8;
  }
}
