// Custom variables
$red: #cc0000;
$darkred: #950002;
$darkgrey: #353535;
$lightgrey: #ddd;
$mediumgrey: #636363;
$blue: #0f6499;
$green: #7dcc00;
$sans-serif: 'Roboto';

// Bootstrap variables
$navbar-inverse-bg: #cc0000;
$navbar-inverse-link-color: #fff;
$navbar-inverse-link-hover-color: $lightgrey;
$font-family-sans-serif: $sans-serif, Helvetica, Arial, sans-serif;
$font-family-base: $font-family-sans-serif;
$navbar-height: 55px;
$font-size-base: 17px;
$line-height-base: 1.53;
$brand-primary: #cc0000;
$link-color: #cc0000;
$link-hover-color: darken($link-color, 15%);
$headings-font-weight: bold;

// Mixins

// Make sure to give parent element the style position:relative
@mixin vertical-center {
  display: block;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

//This is an alternative to bourbon's "placeholder" mixin. That one conflicts with bootstrap, so instead we define placeholders
@mixin placeholders {
  $placeholders: ":-webkit-input" ":-moz" "-moz" "-ms-input";
  @each $placeholder in $placeholders {
    &:#{$placeholder}-placeholder {
      @content;
    }
  }
}
